<div id="entry" class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <h4>
      <b class="text-primary">Vis ao moi khi bo</b>
        
        <span class="dropdown">
          <button class="btn-link glyphicon glyphicon-wrench dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
           <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>Xoa</li>
            <li><sjfnofefnef></li>
          </ul>
        </span>
   
    </h4> 
    <span class="glyphicon glyphicon-time">&nbsp;</span>
    <span class="text-info">Posted 22h ago</span>
    <span class="text-info pull-right">by <b>Nguyen hong son</b></span>
  </div>
  <div class="panel-body">
    <div class="panel panel-default" style="border: none;">
      <div class="panel-body">
        Vi sao khiekbifwifbsus silbvjhf vviuvhv re
      </div>
      <div class="panel-footer">
        <span class="badge">22 comments</span>
      </div>
    </div>
  </div>
