<div class="row">
  <div class="col-md-4">
    <h1>Create new account!</h1>
    <%= render 'form' %>
  </div>
  <div class="col-md-8">
    <%= image_tag "ngoctrinh.jpg", size: "800x550" %>
  </div>
</div>
<%= link_to 'Back', users_path %>
